.aboutCoffee {
    display: grid;
    grid-template-columns: 395px minmax(120px, 420px);
    column-gap: 55px;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 70px auto 18px auto;
    padding: 0 25px;
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: start;
        margin-top: 10px;
        text-align: center;
        p {
            margin-top: 10px;
        }
    }
    &__img {
        width: 100%;
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    }
    &__desc {
        width: 100%;
        height: 100%;
        p {
            text-align: left;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 767px) {
    .aboutCoffee {
        grid-template-columns: 1fr;
        &__img {
            width: 80%;
            margin: 0 auto;
        }
    }
}