.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 520px;
    &__text {
        padding-top: 15px;
        max-width: 590px;
    }
}